<html>
    <head>
    </head>
    <body>

        <h1>
            Please enter the employee's details 
        </h1>
 

 

        <form action="/submit" method="post">
            <input type="number" name="Age" placeholder="Age" required="required"/>
            <input type="number" name="BusinessTravel" placeholder="BusinessTravel in 0,1 or 2" required="required"/>
            <input type="number" name="DailyRate" placeholder="DailyRate" required="required"/>
            <input type="number" name="Department" placeholder="Department in 0,1 or 2" required="required"/>
            <input type="number" name="DistanceFromHome" placeholder="DistanceFromHome" required="required"/>
            <input type="number" name="Education" placeholder="Education" required="required"/>
            <input type="number" name="EducationField" placeholder="EducationField in 0,1,2,3,4,5" required="required"/>
            <input type="number" name="EnvironmentSatisfaction" placeholder="EnvironmentSatisfaction" required="required"/>
            <input type="number" name="Gender" placeholder="Gender in 0 or 1" required="required"/>
            <input type="number" name="HourlyRate" placeholder="HourlyRate" required="required"/>
            <input type="number" name="JobInvolvement" placeholder="JobInvolvement" required="required"/>
            <input type="number" name="JobLevel" placeholder="JobLevel" required="required"/>
            <input type="number" name="JobRole" placeholder="JobRole in 0-8" required="required"/>
            <input type="number" name="JobSatisfaction" placeholder="JobSatisfaction" required="required"/>
            <input type="number" name="MaritalStatus" placeholder="MaritalStatus in 0,1 or 2" required="required"/>
            <input type="number" name="MonthlyIncome" placeholder="MonthlyIncome" required="required"/>

            <input type="number" name="MonthlyRate" placeholder="MonthlyRate" required="required"/>
            <input type="number" name="NumCompaniesWorked" placeholder="NumCompaniesWorked" required="required"/>
            <input type="number" name="OverTime" placeholder="OverTime in 0 or 1" required="required"/>
            <input type="number" name="PercentSalaryHike" placeholder="PercentSalaryHike" required="required"/>
            <input type="number" name="PerformanceRating" placeholder="PerformanceRating" required="required"/>
            <input type="number" name="RelationshipSatisfaction" placeholder="RelationshipSatisfaction" required="required"/>
            <input type="number" name="StockOptionLevel" placeholder="StockOptionLevel" required="required"/>
            <input type="number" name="TotalWorkingYears" placeholder="TotalWorkingYears" required="required"/>
            <input type="number" name="TrainingTimesLastYear" placeholder="TrainingTimesLastYear" required="required"/>
            <input type="number" name="WorkLifeBalance" placeholder="WorkLifeBalance" required="required"/>
            <input type="number" name="YearsAtCompany" placeholder="YearsAtCompany" required="required"/>
            <input type="number" name="YearsInCurrentRole" placeholder="YearsInCurrentRole" required="required"/>
            <input type="number" name="YearsSinceLastPromotion" placeholder="YearsSinceLastPromotion" required="required"/>
            <input type="number" name="YearsWithCurrManager" placeholder="YearsWithCurrManager" required="required"/>
          
        <button type="submit">Predict</button>
        </form>
        
    </body>
</html>